.header-container {
    display: flex;
    align-items: center;
    background-color: #10213f;
    padding: 0% 1%;
    color: white;
}

.logo img {
    height: 40px;
}

.menu {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 0 15px;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.menu a:last-child {
    margin-right: 20px;
}

.search {
    display: flex;
    align-items: center;
    position: relative;
    width: 5%;
}

.search input {
    padding: 12px 17px 12px 32px;;
    border: none;
    border-radius: 2px;
    outline: none;
    width: 55%;
}

.search-icon {
    position: absolute;
    color: #757575;
    left: 4px;
}